ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
ul li {
    width: 150px;
    background:#000;
    color:#fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    position: relative;
}
ul li::before {
    content: '';
    width: 0;
    height: 100%;
    background:#f80;
    /* border-style: solid; */
    /* border-width: 15px; */
    /* border-color: transparent transparent transparent #0a0;     */
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    transition: all 0.35s ease-out 0s;
    animation: changeText 10s ease-out infinite;
}
ul li:hover::before {
    width: 100%;
    /* opacity: 0.3; */
}
ul li span {
    position: relative;
    z-index: 1;
}
.arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #0a0;
}
@keyframes changeText {
    0%{
        content:'Start';
    }
    25%{
        opacity: 0;
    }
    50%{
        content:'Middle';
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        content:'End';
    }
}