 #menu {
            width: 100%;
            height: 50px;
            background: #000;
            transition: all 0.25s ease-out 0s;
        }

        .container {
            width: 100%;
            height: 1000px;
            position: absolute;
            top: 0;
            left: 0;
        }